.chat-main
  .chat-main__group-info
    .chat-main__group-info__info-box
      .chat-main__group-info__info-box__group-name
        = @group.name
      .chat-main__group-info__info-box__edit-btn
        = link_to "/groups/#{@group.id}/edit", method: :get do
          Edit
    .chat-main__group-info__member-list
      Member :
      - @group.users.each do |user|
        = user.name

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "form__textarea", placeholder: "type a message"
      = f.label :image, class: "form__mask__image" do
        = icon('far', 'image', class: "icon")
        = f.file_field :image, class: "image-file"
      = f.submit "Send", class: "send-btn"